.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 1rem 2rem;
}

.linksWrapper {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.linksWrapper a {
  margin: 0 1rem;
}
